
#myLearningLoader{
    /* transform: rotate(90deg); */
    position: absolute;
    left: 50%;
    top: 600%;

}
.wrapper-myLearning{
  width: 100%;
}
.bottom-myLearning {
  /* padding: 0 2vw 0 2vw; */
  margin-top: 2vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5vw; /* Adjust the gap between items */
  margin-bottom: 4vh;
}
.card-bottom-myLearning {
  /* height: 50vh; */
  height:21vw;
  width: 100%;
  background-color: white;
  border-radius: 0.5vw;
  padding: 3%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-bottom-myLearning:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.card-bottom-myLearning span{
    display: block;
    height: 42%;
    width: 100%;
    /* background-color: blue; */
}
.card-bottom-myLearning span img {
  height: 100%;
  width: 100%;
  border-radius: 0.5vw;
  object-fit: cover;
}
.middle-sec-card-myLearning {
  height: 10%;

  display: flex;
  justify-content: space-between;
  margin-top: 3%;
}
.middle-sec-card-myLearning div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5vw;
}
.addCourse-card-myLearning {
  height: 100%;
  width: 35%;
  background: linear-gradient(97.89deg, #0c243c 0%, #7e8c9c 95.36%);
  border-radius: 0.26vw;
  color: white;
}
.card-bottom-myLearning h6 {
  font-weight: 300;
  font-size: 1vw;
}
.pricing-card-myLearning h5:first-child {
  text-decoration: none;
  font-size: 0.8vw;
  color: #7e8c9c;
}
.card-bottom-myLearning p {
  font-size: 0.9vw;
  font-weight: 300;
}
.card-bottom-myLearning h5 {
  font-size: 1vw;
}
.card-bottom-myLearning h4 {
  font-size: 0.9vw;
  font-weight: 400;
  width: 100%;
  height: 10%;
}
.no-courses-courses {
  height: 40vh;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2vh;
}
.no-courses-courses div {
  background: linear-gradient(95.64deg, #0c243c 0.92%, #7e8c9c 70.85%);
  height: 100%;
  width: 90%;
  border-radius: 1.67vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  color: white;
}

.no-courses-courses div h5 {
  font-weight: 100;
  font-size: 1rem;
  text-align: center;
}
.rating-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.no-courses-myLearning {
  height: 40vh;
  width: 73vw;
  display: flex;
  justify-content: center;
  margin-top: 2vh;
}
.no-courses-myLearning div {
  background: linear-gradient(95.64deg, #0c243c 0.92%, #7e8c9c 70.85%);
  height: 100%;
  width: 90%;
  border-radius: 1.67rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: white;
  padding: 0rem 12rem 0rem 12rem;
}
.add-icon-myLearning {
  font-size: 3.5rem;
  cursor: pointer;
}
.no-courses-myLearning div h5 {
  font-weight: 100;
  font-size: 1rem;
  text-align: center;
}

.no-courses-userCourses div h1 {
  font-weight: 400;
  font-size: 2rem;
  width: 130%;
  text-align: center;
}

.card {
  width: 400px;
  padding: 20px;
}

.star {
  cursor: pointer;
}

.no-courses-courses div h1 {
  font-weight: 400;
  font-size: 2rem;
  /* margin: 0; */
  text-align: center;
}
.bottom-card-usermyLearning {
  height: 16%;
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2vh;
  padding: 2% 0;
}
.bottom-card-usermyLearning span {
  height: 35%;
  width: 100%;
  background: #C9D1D5;
  border-radius: 1vw;
  display: flex;
  justify-content: start;
  align-items: center;
}
.bottom-card-usermyLearning span span{
    height: 100%;
    /* width: 60%; */
    background: #0C243C;
    border-radius: 1vw;
    
  }

.bottom-card-usermyLearning div {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.bottom-card-usermyLearning div p:last-child{
    text-decoration-line: underline;
}

.mobile-top-myLearning{
  display: none;
}

@media (max-width:1200px){
  .card-bottom-myLearning {
    /* height: 50vh; */
    height: 28vw;
    
}
.shimmer-learning{
  height: 25rem !important;
}
}
@media(min-width:781px) and (max-width:1150px){
  .shimmer-learning{
    height: 4rem !important;
  }
}
@media (max-width: 768px) {
  .bottom-myLearning{
    display: none;
  }
  .top-myLearning{
    display: none;
  }

  .slider-myLearning{
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background-color: #17181F;
    outline: none;
    opacity: 0.9;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider-myLearning::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid grey;
    border-radius: 50%;
    background-color: #ffffff;
    /* background-image: linear-gradient(160deg, #4900f5 0%, #80D0C7 100%); */
    cursor: pointer;
  }
  
  .slider-myLearning::-moz-range-thumb {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    /* background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%); */
    cursor: pointer;
  }
  
  
  .middle-sec-card-myLearning div{
    height: max-content;
    padding: 1vw 1.5vw;
    border-radius: 0.4rem;
    width: max-content;
  }
  .card-bottom-myLearning span img{
    border-radius: 0.7rem;
  }
  .card-bottom-myLearning h6{
    font-size: 1rem;
    
  }
  .card-bottom-myLearning p{
    font-size: 1rem;
  }
  .card-bottom-myLearning h4{
    font-weight: 500;
  }
  .pricing-card-myLearning h5:first-child{
    font-size: 0.7rem;
  }
  .bottom-card-usermyLearning span{
    height: 1.1rem;
  }
  .card-bottom-myLearning {
    /* height: 50vh; */
    height: 66vw;
    
}
.shimmer-learning{
  height: 30rem !important;
}


}
@media (max-width:700px){
  .shimmer-learning{
    height: 25rem !important;
  
  }
}
@media (max-width: 530px) {
  .bottom-myLearning {
    grid-template-columns: repeat(1, 1fr);
    width: 90vw;
    gap: 1rem;
  }
  .card-bottom-userCourses{
    width: 20rem;
    gap: 1rem;
  }
  .card-bottom-userCourses span img{
    height: 100%;
  }
  .no-courses-myLearning div{
    width: 90%;
    height: max-content;
    padding: 2.5rem 3rem;
  }
  .no-courses-myLearning div h1{
    font-size: 1.1rem;
  }
  .bottom-userCourses{
    justify-content: center;
    align-items: center;
    padding-left: 2rem;
    padding-right: 1rem;
  }
  .bottom-myLearning{
    padding-left: 2rem;
    padding-right: 1rem;
    justify-content: center;
    align-items: center;
  }
  .card-bottom-myLearning {
    /* height: 50vh; */
    height: 89vw;
   
}
}
@media (max-width:461px){
  .shimmer-learning{
    height: 25rem !important;
  
  }
}