.small-screen{
   position: fixed;
   bottom: 0;
   width: 100%; 
   /* background-color: #f8f8f8;  */
   z-index: 999; 

}
.responsive-md{
    z-index: 100;
}
.navBarClick {
    transform-style: preserve-3d;
  transform: scale(var(--s, 1)) perspective(600px)
    rotateX(var(--rx, 0deg)) rotateY(var(--ry, 0deg));
  perspective: 600px;
  transition: transform 0.7s;
}
.navBarClick:active{
    transition: 0.7s;
  transform: scale(0.83);
}
@media (max-width:655px){
    .small-screen-text-admin {
        display: none; /* Hides the text */
    }
    .u-screen{
            margin-top: 2vw;
           }
      }

@media (max-width:431px){
    .small-screen-text {
        display: none !important; 
      }
      .u-screen{
     margin-top: 2.5vw;
    }
}
@media (max-width:335px){
.p-right{
    margin-left: 8vw;
}
}