.sent .message-content {
  align-self: flex-end;
  background-color: #c9d1d530;
}

.received .message-content {
  align-self: flex-start;
  background-color: #c9d1d530;
}

.message {
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}
.chat-list {
  max-height: 400px;
  overflow-y: auto;
  
}
.message-container {
  background: white; /* Background color */
  border-radius: 10px; /* Rounded corners */
  padding: 10px; /* Padding inside the message */
  margin: 5px; /* Margin around the message */
  max-width: 70%; /* Limit the width of the message */
  word-wrap: break-word; /* Break long words */
  overflow-wrap: break-word; /* Fallback for older browsers */
}

@media (max-width: 610px) {
  .c-rep {
    flex-direction: column; 
    align-items: flex-start;
    width: max-content;
  }


  .c-rep p {
    font-style: italic; 
  }

  .c-rep p {
    margin-top: 4px; 
  }
 
.msg-resp{
  width:max-content;

}
}
@media (max-width:459px){
  
}